<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>THIS IS THE TITLE OF THE PAGE!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <p>Today I went to my favorite Taco Stand called the @Model.AdjectiveOne
  @Model.Animal. Unlike most food stands, they cook and prepare the food in a 
  @Model.Vehicle while you 
  @Model.VerbOne. The best thing on the menu is the 
  @Model.Color 
  @Model.NounOne . Instead of ground beef they fill the taco with 
  @Model.FoodPluralTwo, cheese, and top it off with a salsa made from 
  @Model.FoodPlural. If that doesn't make your mouth water, then it's just like 
  @Model.Person always says: 
  @Model.Saying! 
  </p>
  </body>
</html>
